{% extends "layout.html" %}
{% block title %}{{_("Player")}}{% endblock %}
{% block header %}{{_("Confirm your participation")}}{% endblock %}

{% block content %}
  <!-- !!player.confirm!1473724732052034803!! -->
  <p>{{_("Please confirm your name")}}</p>
  <form method="post" action="{{ url_for('player.confirm') }}" enctype="multipart/form-data">
    <input type="hidden" value="{{ secret_id }}" id="secret_id" name="secret_id"/>
    <label for="player_name">{{_("Your Name")}}</label>
    <input type="text" id="player_name" name="player_name" autofocus="autofocus" value="{{ unconfirmed_name }}"/>
    <input type="submit" value="{{_("Submit")}}"/>
  </form>
{% endblock %}
