{% extends "layout.html" %}
{% block title %}{{ player.name }}{% endblock %}
{% block header %}<span id="game_status"></span>{% endblock %}

{% block content %}
  <!-- !!player.player!1598872951605016181!! -->
<script language="javascript">
  // poll periodically to update player status
  updateTimer = setTimeout(
      updatePlayerDashboard,
      0 /* run immediately after loading */,
      {{ url_for('player.api_status', secret_id=player.secret_id)|tojson }});
</script>
  <div id="trump"></div>
  <form id="bid" style="display: none;"><div id="bidError"></div>Place bid: <input type="number" id="bidInput" name="bidInput" min="0" max="52"><input type="submit" id="bidSubmit" value="Submit Bid"><input type="hidden" name="secret_id" value="{{ player.secret_id }}"></form>
  <ul id="players">
  </ul>
  <div id="table"></div>
  <div id="cards"></div>
  <div id="stats"></div>
{% endblock %}
