{% extends "layout.html" %}
{% block title %}{{ player.name }}{% endblock %}
{% block header %}<span id="game_status"></span>{% endblock %}

{% block content %}
  <!-- !!player.player!1598872951605016181!! -->
<script language="javascript">
  // poll periodically to update player status
  updateTimer = setTimeout(
      updatePlayerDashboard,
      1000 /* milliseconds */,
      {{ url_for('player.api_status', secret_id=player.secret_id)|tojson }});
</script>
  <ul id="other_players">
  </ul>
  <div id="stats"></div>
  <ul id="cards">
  </ul>
{% endblock %}
