<!doctype html>
<html>
  <head>
    <title>Rikiki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
  </head>
  <body>
    <nav>
      Rikiki - {% block title %}{% endblock %}
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="flash {{category}}">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
